<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!-- Use this appender to have logs go to STDOUT -->
  <appender name="Console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p %d{yyyy-MM-dd' 'HH:mm:ss.SSS} [%t] (%c{1}) %m%n"/>
    </layout>
  </appender>

  <appender name="RollingFile" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="datePattern" value="'.'yyyy-MM-dd" />
    <param name="File" value="${ESCIDOC_HOME}/log/proai.log"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%p %d{yyyy-MM-dd' 'HH:mm:ss.SSS} [%t] (%c{1}) %m%n"/>
    </layout>
  </appender>
 
  <!-- Category-specific settings -->
  <category name="proai">
    <priority value="INFO" />
  </category>
 
  <!-- Default level and appender if not explicitly defined -->
  <root>
    <priority value="WARN" />
    <appender-ref ref="RollingFile"/>
  </root>
  
</log4j:configuration>
